[package]
name = "selene"
version = "0.21.1"
license = "MPL-2.0"
authors = ["Kampfkarren <kampfkarren@gmail.com>"]
description = "A blazing-fast modern Lua linter written in Rust"
categories = ["command-line-utilities"]
keywords = ["lua", "linter", "lua51"]
repository = "https://github.com/Kampfkarren/selene"
documentation = "https://kampfkarren.github.io/selene/"
edition = "2021"

[dependencies]
atty = "0.2"
cfg-if = "0.1"
chrono = "0.4"
codespan = { version = "0.9", features = ["serialization"] }
codespan-reporting = { version = "0.9", features = ["serialization"] }
color-eyre = "0.6.1"
dirs = "4.0.0"
full_moon = "0.16.1"
glob = "0.3"
globset = "0.4.9"
lazy_static = "1.4"
num_cpus = "1.10"
profiling = { version = "1.0.6" }
selene-lib = { path = "../selene-lib", version = "=0.21.1", default-features = false }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8.24"
structopt = "0.3"
termcolor = "1.0"
tracy-client = { version = "0.13.2", optional = true }
threadpool = "1.7"
toml = "0.5"
ureq = { version = "2.4.0", features = ["json"], optional = true }

[features]
default = ["roblox"]
tracy-profiling = ["profiling/profile-with-tracy", "tracy-client"]
roblox = ["selene-lib/roblox", "full_moon/roblox", "ureq"]
